.caption {
    position:relative;
    z-index:10;
    background-color: #fff;
    border:solid;
    border-width: 3px;
    border-color:black;
    padding:3rem;
    margin-top:-6rem;
    margin-left:4rem;
  }
  
  .project {
    display:block;
    width:100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color:black;
  }
  
  .project__name {
    font-size:3rem;
    font-family: halyard-micro, sans-serif;
    font-weight:500;
    margin-bottom: 2rem;
  }
  
  .project__desc {
    line-height: 1.5;
    margin-bottom:1rem;
    font-family: halyard-micro, sans-serif;
    font-weight:300;
    font-style: normal;
    font-size:2.2rem;
  }
  
  .container {
    margin-left:20px;
    max-width:715px;
  }

  .altwork__container {
    margin-left:20px;
    max-width:450px;
  }

  .altwork__caption {
    position:relative;
    z-index:10;
    background-color: #fff;
    border:solid;
    border-width: 3px;
    border-color:black;
    display: inline-block;
    width:100%;
    top:-400px;
    left:520px;
    padding:2rem;
  }

  .altwork__img {
    width:640px;
  }
  
  .altwork__project {
    display:block;
    width:100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color:black;
  }
  
  .altworkproject__name {
    font-size:2rem;
    font-family: halyard-micro, sans-serif;
    font-weight:500;
    margin-bottom: 0.5rem;
  }
  
  .altworkproject__desc {
    line-height: 1.5;
    margin-bottom:1rem;
    font-family: halyard-micro, sans-serif;
    font-weight:300;
    font-style: normal;
    font-size:1.37rem;
  }

  .button {
    display:inline-block;
    text-decoration: none;
    font-family: halyard-micro, sans-serif;
    font-weight: 500;
    font-size:1.1rem;
    color:#fff;
    background:#e86c1f;
    padding:.9rem 1.2rem;
  }

  .button:hover {
    background:white;
    border:#e86c1f solid 3px;
    color:#e86c1f;
    margin: -3px;
  }

  .news__container {
    margin-left:20px;
    max-width:1015px;
  }

  .newsheadline {
    font-family: halyard-micro, sans-serif;
    font-weight: 500;
    font-size:68px;
  }

  .newstagline {
    font-family: halyard-micro, sans-serif;
    font-weight: 300;
    font-size:30px;
    padding-bottom:30px;
  }

  .news__caption {
    background-color: #fff;
    border:solid;
    border-width: 3px;
    border-color:black;
    width:100%;
    padding:3rem;
  }

  .news__project {
    display:block;
    width:100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color:black;
  }

  .news__img {
    width:320px;
    float:right;
    padding-left:170px;
  }

  .button__news {
    display:inline-block;
    text-decoration: none;
    font-family: halyard-micro, sans-serif;
    font-weight: 500;
    font-size:1.1rem;
    color:#fff;
    background:black;
    padding:.9rem 1.2rem;
  }

  .button__news:hover {
    background:white;
    border:black solid 3px;
    color:black;
    margin: -3px;
  }

  .newssub {
    font-family: halyard-micro, sans-serif;
    font-weight: 500;
    font-size:1.3rem;
  }

  .news__name {
    font-family: halyard-micro, sans-serif;
    font-weight:500;
    font-size:32px;
  }

  .news__desc {
    font-family: halyard-micro, sans-serif;
    font-weight:300;
    font-size:20px;
    line-height:1.8rem;
    padding-bottom:20px;
  }

  .button__container {
      margin-left:20px;
      max-width:1215px;
    
  }

  .blue {
    background:#50d9dd;
  }

  .peach {
    background:#ed988a;
  }

  .navy {
    background:#5f7b8e;
  }

  .blue:hover {
    background:white;
    border:#50d9dd solid 3px;
    color:#50d9dd;
    margin: -3px;
  }

  .peach:hover {
    background:white;
    border:#ed988a solid 3px;
    color:#ed988a;
    margin: -3px;
  }

  .navy:hover {
    background:white;
    border:#5f7b8e solid 3px;
    color:#5f7b8e;
    margin: -3px;
  }