<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reflexions Components</title>
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/vwq3snw.css">
  </head>

  <body>
    <h1>Web Components go Here.</h1>
    <h2>Article with default typography</h2>
    <section>
      <img src="../img/2.1.PNG" alt="Image of work section component"> 
    </section>
    <section class="container">
     <a class="project" href="#!"><img src="../img/James-Beard-1-800.jpg" alt="Varietiy of food dishes">
      <div class="caption transform">
        <h2 class="project__name">James Beard Foundation</h2>
        <p class="project__desc">A multi-course digital content strategy and website for the venerable culinary institution</p>
      </div>
    </a>
  </section>
  </body>
</html>