<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reflexions Components</title>
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/vwq3snw.css">
  </head>

  <body>
    <h1>Web Components go Here.</h1>
    <h2>Article with default typography</h2>
    <section>
      <img src="../img/2.1.PNG" alt="Image of work section component"> 
    </section>
    <section class="container">
     <a class="project" href="#!"><img src="../img/James-Beard-1-800.jpg" alt="Varietiy of food dishes">
      <div class="caption transform">
        <h2 class="project__name">James Beard Foundation</h2>
        <p class="project__desc">A multi-course digital content strategy and website for the venerable culinary institution</p>
      </div>
    </a>
  </section>
  <h2>Alternative Work Article</h2>
 
    <section class="altwork__container">
    <img src="../img/2.5.PNG" alt="Image of work section component"> 
     <a class="altwork__project" href="#!"><img class="altwork__img" src="../img/langeloth-header.jpg" alt="Many cogs and Gears">
      <div class="altwork__caption transform">
        <h2 class="altworkproject__name">The Langeloth Foundation</h2>
        <p class="altworkproject__desc">A grant management system built for social justice organizations</p>
        <a class="button" href="#!">LEARN MORE</a>
      </div>
    </a>
  </section>

  <h2>News Article</h2>
 
    <section class="news__container">
    <img src="../img/3.PNG" alt="Image of work section component"> 
     <a class="news__project" href="#!"><img class="news__img" src="../img/BLM_03.png" alt="BLM logo">
      <div class="news__caption transform">
        <h2 class="news__name">The Langeloth Foundation</h2>
        <p class="news__desc">A grant management system built for social justice organizations</p>
        <a class="button__news" href="#!">LEARN MORE</a>
      </div>
    </a>
  </section>




  </body>
</html>